@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    height: 100vh;
    
}
.side_bar{
    width: 20%;
    height: 100vh;
}
.side_menu{
    padding: 30px;
    font-size: 1.2rem;
}
.items{
    padding: 20px;
    }

     .items h2{
        font-family: styles;
     }
    .fa-regular,.fa-brands,.fa-solid{
        margin-right: 10px;
    }
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img img{
    /* object-fit: contain; */
    border-radius: 100%;
    border: 2px solid violet ;
    height: 70px;
    width: 70px;
}
.post_stories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

}
.post_section{
    width: 60%;

}

.suggestion{
    width: 20%;
}



.instagram{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}